<h1>Password recovery</h1>

<div><a href="/loginscreen">Back to login</a></div>
<form action="/forgotpasswordpost" method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <div><input type="text" name="username" required/></div>

    <label for="password">New password</label>
    <div><input type="password" name="password" required/></div>

    <label for="dob">Date of birth</label>
    <div><input type="text" name="dob" required/></div>

    <button type="submit">Change password</button>
</form>

