{% if user.is_authenticated %}
    <h1>Welcome, {{user.username}}!</h1>
    <form action="/logout" method="POST">
        {% csrf_token %}    
        <button type="submit">Log out</button>
    </form>
{% else %}
    <h1>Welcome!</h1>
    <div><a href="/loginscreen">Log in</a><div>
    <div><a href="/createuser">Create user</a><div>
{% endif %}

{% if user.is_superuser %}
<div><a href="/adminscreen">Administrate users</a></div>
{% endif %}


<div>
{% if not messages %}
There are no messages
{% else %}
    <ul>
    {% for message in messages %}
        {# Secure version below #}
        {# <li>{{message.user.username}}: {{message.message}}</li> #}
        {# Insecure version below #}
        <li>{{message.user.username}}: {{message.message|safe}}</li>
    {% endfor %}
    </ul>
{% endif %}
</div>

{% if user.is_authenticated %}
Add a message
<form action="/postmessage" method="POST">
    {% csrf_token %}
    Message
    <input type="text" name="message" required/>
    <button type="submit">Post</button>
</form>
{% endif %}
